# Gradle
.gradle
local.properties
build/
release/

# Studio
.idea/
.DS_Store/
captures/

# Other
.externalNativeBuild
*.iml
.cxx
.kotlin
.aider*
.env

# KotifyClient - PRIVATE, DO NOT PUSH
app/libs/KotifyClient*.jar

# Sessions/credentials
sessions.json
*.keystore
*.jks
*.apk
*.png
ui_dump*.xml
